// --
// -- Colors
// --
@function yamColor($color) {
  @if map_has_key($palette, $color) {
    @return map_get($palette, $color)
  }
}
@function yamColorDarken($color, $level) {
  @return darken(yamColor($color), 8 * $level)
}
@function yamColorLighten($color, $level) {
  @return lighten(yamColor($color), 8 * $level)
}

// --
// -- Shadows / Elevations
// --
$elevationOpacity: .32;
$elevationShadows: (
        1: (0 0 4px 0  rgba(#000, $elevationOpacity)),
        2: (0 0 6px 0  rgba(#000, $elevationOpacity)),
        3: (0 0 8px 0  rgba(#000, $elevationOpacity)),
        4: (0 0 12px 0 rgba(#000, $elevationOpacity)),
        5: (0 0 16px 0 rgba(#000, $elevationOpacity)),
        6: (0 0 24px 0 rgba(#000, $elevationOpacity)),
);
@function yamElevation($level) {
  @return map_get($elevationShadows, $level)
}

// --
// -- Size in pixels
// --
$baseSize: 8;
@function yamSize($level) {
  @return #{$baseSize * $level}px;
}
