// --
// -- Variables
// --

// breakpoints
$bp-sm: 600;
$bp-md: 960;
$bp-lg: 1280;

// font sizes
$fs-h1: 112px;
$fs-h2: 56px;
$fs-h3: 45px;
$fs-h4: 34px;
$fs-h5: 24px;
$fs-h6: 20px;
$fs-subtitle: 16px;
$fs-p: 14px;
$fs-label: 12px;
$fs-caption: 12px;
$fs-inp: 14px;
$fs-btn-sm: 14px;
$fs-btn: 16px;
$fs-btn-lg: 20px;

// palette
$palette: (
        red: #F44336,
        purple: #673AB7,
        blue: #2196F3,
        teal: #009688,
        green: #4CAF50,
        yellow: #FFEB3B,
        orange: #FF9800,
        grey: #808080,
        white: #fff,
        black: #000,
);
