/**
  Background Colors
 */
.bg {
  @each $name, $color in $palette {
    &#{'-' + $name} {
      background-color: yamfColor($name);
      // text color variations
      @if ($name != white) {
        @if ($name != black) {
          @for $i from 1 through 2 {
            &#{'-l' + $i} {
              background-color: yamfColorLighten($name, $i);
            }
            &#{'-d' + $i} {
              background-color: yamfColorDarken($name, $i);
            }
          }
        }
      }
    }
  }
}