/**
  Flex Grid
 */

@mixin flex-alignment {
  &-center {
    margin: auto;
    align-self: center;
    justify-self: center;
  }
  &-h-center {
    margin-left: auto;
    margin-right: auto;
  }
  &-h-right {
    margin-left: auto;
  }
  &-h-left {
    margin-right: auto;
  }
  &-v-center {
    margin-top: auto;
    margin-bottom: auto;
  }
  &-v-bottom {
    margin-top: auto;
  }
  &-v-top {
    margin-bottom: auto;
  }
}

@mixin flex-columns {
  @for $i from 1 through 12 {
    &-#{$i} {
      width: percentage(1 / 12 * $i);
    }
  }
}

@mixin flex-orders {
  @for $i from 1 through 12 {
    &-#{'o' + $i} {
      order: $i;
    }
  }
}

.box {
  display: block;
  width: 100%;
  position: relative;
  padding: yamSize(1);

  // It's like Container
  &-wrap {
    display: block;
    position: relative;
    max-width: 100%;
    padding-left: yamSize(2);
    padding-right: yamSize(2);
    margin-left: auto;
    margin-right: auto;
  }

  // It's like wrapper for blocks (for grid)
  &-grid {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
  }

  & {
    @include flex-alignment;
  }
}

@include media-xs {
  .xs {
    @include flex-columns;
    @include flex-orders;
    @include flex-alignment;
  }
}

@include media-sm-up {
  .box-wrap {
    width: #{$bp-sm}px;
  }
  .sm {
    @include flex-columns;
    @include flex-orders;
    @include flex-alignment;
  }
}

@include media-md-up {
  .box-wrap {
    width: #{$bp-md}px;
  }
  .md {
    @include flex-columns;
    @include flex-orders;
    @include flex-alignment;
  }
}

@include media-lg-up {
  .box-wrap {
    width: #{$bp-lg}px;
  }
  .lg {
    @include flex-columns;
    @include flex-orders;
    @include flex-alignment;
  }
}