/**
  Typography
 */

body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-font;
  width: 100%;
  font-family: $font-major;
}

.fs-1, h1 {
  font-size: $fs-h1;
  font-weight: 300;
  padding: 32px 0;
}

.fs-2, h2 {
  font-size: $fs-h2;
  font-weight: 400;
  padding: 24px 0;
}

.fs-3, h3 {
  font-size: $fs-h3;
  font-weight: 400;
  padding: 16px 0;
}

.fs-4, h4 {
  font-size: $fs-h4;
  font-weight: 400;
  padding: 8px 0;
}

.fs-5, h5 {
  font-size: $fs-h5;
  font-weight: 400;
  padding: 8px 0;
}

.fs-6, h6 {
  font-size: $fs-h6;
  font-weight: 500;
  padding: 4px 0 8px 0;
}

.fs-caption {
  font-size: $fs-caption;
  font-weight: 400;
  padding: 4px 0;
}

.fs-subtitle {
  font-size: $fs-subtitle;
  font-weight: 500;
  padding: 4px 0;
}

.fs-body-1, p, body {
  font-size: $fs-p;
  font-weight: 400;
}

.fs-body-1, p {
  padding: 4px 0 8px 0;
}

.txt {
  // text alignment

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }


  // text styles
  &-style {
    &-n {
      font-style: normal;
    }

    &-b, strong, b {
      font-weight: bold;
    }

    &-i, cite, em, i {
      font-style: italic;
    }

    &-u, u {
      text-decoration: underline;
    }

    &-d, del {
      text-decoration: line-through;
    }

    &-code, &-kbd, code, kbd {
      padding: 2px 4px;
      background: $color-dark;
      color: $color-white;
      border-radius: 2px;
    }
  }

  // text color

  @each $name, $color in $palette {
    &#{'-' + $name} {
      color: $color;
    }
  }

}